<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Commit Detail</title>
    <base th:href="${#request.getContextPath()}+'/'">

    <div th:replace="include"></div>

    <style type="text/css">
        .data-row {
            padding-left: 30px;
            margin-bottom: 20px;
            border-bottom: 1px solid #555;
        }
    </style>
</head>
<body>
<div class="content" style="padding: 20px;">
    <form id="itemForm" class="form-horizontal validate">
        <div class="form-group">
            <label class="col-xs-1 control-label">Commit ID:</label>
            <div class="col-xs-11">
                <label class="control-label" th:text="${item.revision}"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1 control-label">Commit Time:</label>
            <div class="col-xs-11">
                <label class="control-label" th:text="${item.commitTime}"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1 control-label">Remark:</label>
            <div class="col-xs-11">
                <pre th:text="${item.historyMessage}"></pre>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1 control-label">Change History:</label>
            <div class="col-xs-11">
                <textarea rows="16" cols="80" th:text="${item.different}"></textarea>
            </div>
        </div>
    </form>
    <div style="clear:both;height:30px;">&nbsp;</div>
</div>

<div th:replace="scripts"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){

    });
</script>
</html>


