<script type="text/javascript" src="static/javascript/jquery.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>

<script type="text/javascript" src="static/javascript/global/common/json2.js"></script>
<script type="text/javascript" src="static/javascript/global/artDialog/dist/dialog-plus.js?ts=4"></script>

<script type="text/javascript" src="static/bootstrap/table/bootstrap-table.js"></script>

<script src="static/javascript/module/jquery.form.js"></script>
<script src="static/javascript/module/weixin/framework.js?ts=4"></script>
<script src="static/javascript/global/common/CheckUtil.js?ts=2"></script>
